@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
a {
  text-decoration: none !important;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: $main-font;
  overflow-x: hidden;
  width: 100%;
}
 
button{
  outline: none !important;
}
li {
    list-style: none !important;
}
.section-padding {
  padding:50px 0;
}

.section-title {
  .title {
    font-size: 50px;
    font-weight: 600;
    text-transform: capitalize;
    color: #000;
    margin-bottom: 15px;
  }
  p {
    color: #4f4f50;
    font-size: 18px;
  }
  .px-50 {
    padding: 0 100px;
  }
  @media(max-width:998px){
    .title{
      font-size: 30px;
      font-weight: 500;
    }
    p{
      font-size: 16px;
    }
  }
}
.my-100 {
  margin: 100px 0;
}
.mb-100{
  margin-bottom: 100px;
}
.mr-150{
  margin-right: 150px;
}
@media (max-width: 1200px) {
  .mb-30 {
    margin-bottom: 30px;
  }
}
@media (max-width: 550px) {
  .flex-column-sm {
    flex-direction: column;
  }
}
